set cs(nick) "Mars"
set cs(ident) "services"
set cs(host) "pandersticks.com"
set cs(admin) "Ellenor"
# REPLACE THIS! ^^ This user gets +mno set on them every bootup.
set cs(netname) yournet
::ts6::login $::sock($cs(netname)) $::numeric $::password $cs(netname)
