# TCLServ Config File

# needs prefix for ts6
network "pand" "services.invalid" {
	host 127.0.0.1 port +6697
	numeric 53
	pass	link
	proto	ts6
	prefix	{*~&@%+ yqaohv}
	isupport	"CHANMODES=beIM,k,flj,CDFQRTXcgimnprstu CHANLIMIT=&'#+\"1234567890:100 PREFIX=(yqaohv)*~&@%+ MAXLIST=beIM:100 MODES=4 NETWORK=Pandersticks STATUSMSG=@ PRIVILEGEMSG=@,.,qaohv SJOIN=(yqaohv)*~&@%+"
}

#old;
#set numeric "53"
#set servername "services.invalid"
#set password "link"
#set maintype ts6
#set sock [connect 127.0.0.1 4400 ::ts6::irc-main]
#set netname($sock) "pand"

loadmodule debugserv
loadmodule quoteserv

# module confs after here, load before here

debugserv "pand" {
	logchan	#lounge
	nick	DebugServ
	ident	Debug
	host	services.umbrellix.net
	modes	+oiS
	comment "Or +oiDS if you dont want it to hear channel convos"
	comment "idcommand is obvious."
	nickserv	"NickServ"
	nsserv	services.umbrellix.net
	idcommand	"IDENTIFY InvictusWAUS None"
}


quoteserv "umb" {
	logchan	#services
	nick	QuoteServ
	ident	Quote
	host	Umbrellix/Special/TclServ/QuoteServ
	modes	+oiS
	comment "Or +oiDS if you dont want it to hear channel convos"
	comment "NSPass can be a username space password, if your nickserv is an atheme nickserv."
	nickserv	"NickServ"
	nsserv	services.umbrellix.net
	idcommand	"IDENTIFY InvictusWAUS 5467"
	operflags	"oper:quote,oper:admin"
}
