# TCLServ Config File
# This is a valid Tcl script when sourced by TCLServ

misc "pand" {
	hashing	"SSHA256" comment "this is currently the only supported hashing algorithm."
}

# needs prefix for ts6; this example is for irca. Give it the isupport from your ircd if you are running some other TS6.
network "pand" "services.invalid" {
	host 127.0.0.1 port +6697
	gecos	"QuackServ"
	numeric 53
	pass	link
	proto	ts6
	prefix	{*~&@%+ yqaohv}
	isupport	"CHANMODES=beIM,k,flj,CDFQRTXcgimnprstu CHANLIMIT=&'#+\"1234567890:100 PREFIX=(yqaohv)*~&@%+ MAXLIST=beIM:100 MODES=4 NETWORK=Pandersticks STATUSMSG=@ PRIVILEGEMSG=@,.,qaohv SJOIN=(yqaohv)*~&@%+"
}

#old;
#set numeric "53"
#set servername "services.invalid"
#set password "link"
#set maintype ts6
#set sock [connect 127.0.0.1 4400 ::ts6::irc-main]
#set netname($sock) "pand"

loadmodule debugserv
loadmodule quoteserv
loadmodule chanserv

# module confs after here, load before here

debugserv "pand" {
	logchan	#lounge
	nick	DebugServ
	ident	Debug
	host	services.umbrellix.net
	modes	+oiS
	comment "Or +oiDS if you dont want it to hear channel convos"
	comment "idcommand is obvious."
	comment "Using rehash in its unmodified form requires that you use irca or another ircd that passes oper privileges in a metadata."
	rehashprivs "oper:quote"
	realname	"Depanner"
	nickserv	"NickServ"
	nsserv	services.umbrellix.net
	idcommand	"IDENTIFY InvictusWAUS None"
}

quoteserv "pand" {
	logchan	#services
	nick	QuoteServ
	ident	Quote
	host	Umbrellix/Special/TclServ/QuoteServ
	modes	+oiS
	realname	"Quotes Services"
	comment "Or +oiDS if you dont want it to hear channel convos"
	comment "NSPass can be a username space password, if your nickserv is an atheme nickserv."
	nickserv	"NickServ"
	nsserv	services.umbrellix.net
	idcommand	"IDENTIFY InvictusWAUS 5467"
	operflags	"oper:quote,oper:admin"
}

# Syntax for ChanServ's header is different.
# Instead of just being  network, it is network servicename.
# This is because ChanServ is not ChanServ, but a script runner.
# the config is referenced relative to the working directory when you
# start TclServ.
chanserv "pand" "ChanServ" {
	nick	ChanServ
	ident	Channel
	host	Services.Umbrellix.Net
	modes	+oiS
	config	chanserv.conf
	realname	"Channels Services"
}
